@use "../config/mixin" as m;

.home-container {
  padding: 0 1rem;
  overflow-y: scroll;

  .titleList {
    background-color: white;
    color: black;
    font-weight: 200;
    cursor: pointer;
    padding: 1.2rem 1.4rem;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &:first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: m.color(orange);

      &::after {
        content: ">";
        font-size: inherit;
        margin-left: 0.5rem;
      }
    }
  }
}
